<h1>Welcome to One Month Rails!</h1>
<p>
You´ve found the Home Page for the
<a href="http://onemonthrails.com">One Month Rails</a> application.
</p>

<div class="footer">
	<small>
	<a href="http://onemonthrails.com">One Month Rails</a> application.
	by Mattan Griffel	
	</small>
</div>